/* Just a reminder. All css files can access these from index.css */
/* :root {
    --color-background: #e5eaf5;
    --color-font: #494d5f;
    --color-warning: #d83694;
    --color-accent: #d0bdf4;
} */

.Card{
    width: 500px;
    height: 300px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    border-radius: 5px;
    font-size: 1.4rem;
    border: 3px solid black;
    padding: 5px;
}