.CardsPage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    color: var(--color-font);
}

.CardsPage-greeting {

}

.CardsPage-cards {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.CardsPage-back-button {
    display: block;
    text-decoration: none;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-font);
    height: 46px;
    line-height: 46px;
    width: auto;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
	transition: background-color 0.5s ease-in, color 0.5s ease-in;
    margin-left: 5px;
    text-align: center;
}

.CardsPage-back-button:hover {
    background-color: var(--color-font);
    color: var(--color-accent);
}

.CardsPage-card-type-selector, .CardsPage-card-color-selector {
    font-size: 1rem;
    height: 300px;
    width: 150px;
}